<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= `${user.nome}` %></title>
</head>
<body>
    <h1>Dados do Usuário:</h1>
    <% if(user){ %>
        <h3>Nome: <%= `${user.nome}` %></h3>
        <h3>Sobrenome: <%= `${user.sobrenome}` %></h3>
        <h3>Idade: <%= `${user.idade}` %></h3>
        <h3>País: <%= `${user.pais}` %></h3>
    <% } %>
    <a href="/alteraUsuario"><button>Mudar dados</button></a>
    <a href="/"><button>Voltar</button></a>
</body>
</html>